@import '~bootstrap/scss/bootstrap';
$border-color: #d3d3d3;
$primary-text: #fff;


main.container {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./star-wars-backgrounds-25.jpg');
}

.container1 {
  border: 1px solid $border-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-top: 25px;
  max-height: 500px;
  overflow: auto;
  padding-bottom: 10px;
  width: 400px;
}

.updateForm {
  border: 1px solid black;
  color: $primary-text;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-top: 25px;
  max-height: 500px;
  overflow: auto;
  padding-bottom: 10px;
  width: 400px;
  padding: 10px;
  margin: auto;
}

.sign-up-form {
  color: $primary-text;
}

.sign-in-form {
  color: $primary-text;
}

.change-username-form {
  color: $primary-text;
}

.change-password-form {
  color: $primary-text;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 400px;
  padding: 10px;
  margin: auto;
}

.page1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.textArea1 {
  background-color: transparent;
  padding-left: 10px;
  border-radius: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border: 1px solid $border-color;
  margin-top: 10px;
  height: 100px;
  font-size: 17px;
  outline: none;
  overflow-wrap: break-word;
  letter-spacing: 1px;
  line-height: 20px;
  color: $border-color;
  width: 100%;
  ::placeholder {
    color: $border-color;
  }
}

.button1 {
  // background-color: #43464b;
  width: 100%;
  margin-top: 10px;
  border: none;
  height: 50px;
  border-radius: 10px;
  // color: #46516e;
  font-size: 17px;
}

.form1 {
  width: 400px;
}

.myRow1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.myMessage1 {
  width: 80%;
  background-color: $primary-text;
  color: black;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  overflow-wrap: break-word;
  border: 1px solid darkgrey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.partnerRow1 {
  justify-content: flex-start;
}

.partnerMessage1 {
  width: 80%;
  background-color: black;
  color: $primary-text;
  border: 1px solid $border-color;
  padding: 10px;
  overflow-wrap: break-word;
  margin-left: 5px;
  margin-top: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 13px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background: red;
}
